body {
	margin-left: 15%;
	font-family: Verdana;
	width: 70%;
	color: #605B56;
}

header h1{
	padding-left: 10px;
}
header{
	background-color: linear-gradient(left,#5ca861, #badfbc);
	background: -webkit-linear-gradient(left, #5CA861 , #BADFBC);
background: -o-linear-gradient(right, #5CA861 , #BADFBC);
background: -moz-linear-gradient(right, #5CA861 , #BADFBC);
background: linear-gradient(to right, #5CA861 , #BADFBC);
	padding: 3px 10px;
  margin-bottom: 5px;
	border-radius: 10px;
}
#menu-principal ul{
	float: left;
	width: 200px;
	padding: 0;
	margin: 0;
}

#menu-principal ul li{
	list-style-type: none;
	padding: 10px;
}

#contenido {
	padding: 10px;
	background-image: url('../imagenes/imagen3.jpg');
	margin-left: 200px;
	border-radius: 6px;
	color: black;
}

#contenido p img{
	border: 2px solid #605b56;
	margin:3px;
	float: right;
	border-radius: 4px;
}
footer {
	clear: both;
	border-top: solid 2px #605B56;
	padding-top: 10px;
	margin-top: 15px;
	text-align: center;
	
}
